html {
font-size: 16px;
}

header {

}
.content-wrapper img {
  height: auto;
}

nav {
  color: #ffffff;
  display: inline;
}

.hero-area .content-area {
  background: url('../img/unsplash-background.jpg');
}

body {
  background-color: #202322;
}

.content-wrapper h1 {
  color: #ffffff;
}

.content-wrapper .form-description h3 {
  color: #ffffff;
}

.content-wrapper .form-description p {
  color: #ffffff;
}

.form h3 {
  color: #ffffff;
}
